/greeter/nbproject/private/
/greeter/build/
/variables/nbproject/private/
/variables/build/
/DeclareClass/nbproject/private/
/classDeclare/nbproject/private/
/account/nbproject/private/
/account/build/
